@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    margin-top: 62px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

ul li a {
 text-decoration: none;
 color:black;
 font-family: Mulish;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 opacity: 0.5;
}


.row {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}

.row .col-6 h1 {
    color: black;
    font-family: Mulish;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    width: 421.213px;
    margin-top: 93px;
}

.col-6 p {
color: #7D7987;
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 300;
line-height: 32px;
width: 440px;
margin-top: 30px;
}

.col-6 button {
    width: 123px;
    margin-top: 40px;
    border-radius: 55px;
    background: #458FF6;
    color: #FFF;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    padding: 16px 37px;
    width: 200px;
}

ul li a:hover {
     opacity: 1;
}

.col-6 button:active {
   color: greenyellow;
   background-color: red;
}

main h3 {
    color: #000;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    margin-top: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 56px;
}


.main-text {
    color: #7D7987;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

main .card {
    margin-top: 40px;
    width: 380px;
    flex-shrink: 0;
    border-radius: 20px;
    background: white;
    padding: 68px 40px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40)
}

.card h4 {
    color: #000;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 23.36px;
    line-height: 56px;
}

.card p {
    color: #7D7987;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 47px;
}

main .button-section {
    display: flex;
   justify-content: center;
}

main button {
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    background-color: white;
    color: #458FF6;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 57px;
}



article h2 {
    color: #000;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-top: 106px;
}

#row-3 {
    display: flex;
    margin-top: 55px;
    justify-content: space-between;

}

#row-3 .card{ 
width: 380px;
border-radius: 20px;
background: #FFF;
box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}

.text-content {
padding: 30px;
}

.text-content a {
    text-decoration: none;
    color: #4089ED;
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-family: 600;
    line-height: 28px;
}










.button-section {
    display: flex;
   justify-content: center;
 
}

button {
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    background-color: white;
    color: #458FF6;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 57px;
 
}



.footer-logo {
    display: flex;
    align-items: center;
    gap: 11px;
}




.footer-logo p {
    color: #FFF;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.fotter-logo-text {
    margin-top: 22px;
    color: #FFF;
    width: 386px;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
}


.col-5 h4 {
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 97px;
}



.col-5 ul li {
    list-style-type: none;
    margin: 10px 0;
}



.col-5 ul li a {
    color: #FFF;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}




.fa-brands {
    font-size: 45px;
    color: white;
}


.footer-icons {
    display: flex;
    gap: 14px;
}




.footer-logo span {
color: #5B9BF3;
font-family: Mulish;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 32px;
text-align: center;
background-color: white;
flex-shrink: 0;
border-radius: 50%;
}


footer {
    margin-top: 106px;
    height: 325px;
    width: 100%;
    padding: 0 210px;
    padding-top: 116px;
    padding-bottom: 95px;
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}


.row-4 {    
    display: flex;
}



